<div id="fleas" class="row">
  <%= render partial: '/posts/searches_flea', collection: @fleas, as: :flea%>
</div>
<%= will_paginate @fleas, :param_name => "past_fleas_page", class: "past_fleas_pagination" %>
