<div id="fleas" class=" col l10 offset-l1">
  <%= render partial: '/posts/searches_flea', collection: @fleas, as: :flea%>
</div>

<%= will_paginate @fleas, :param_name => "past_fleas_page", class: "past_fleas_pagination" %>
