

<div style="font-family:Open Sans, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight:900;" >
  <div class="center" style="height:48px; margin-bottom:10px;">
    <span style="vertical-align:super; font-size:15px;">후기</span></div>
  <% if user_signed_in? && @one_user != current_user %>
    <a class="modal-trigger enjoy-css" href="#write_1" style="font-size:15px;">후기 작성<i class="material-icons enjoy-css" style="display:inline-block; font-size:1.4rem;">mode_edit</i></a>
  <% else %>
    <a class="grey-text" style="pointer-events: none; cursor: default;">후기 작성
      <i class="material-icons" style="display:inline-block; font-size:1.4rem;">mode_edit</i></a>
  <% end %>

  <div id="ep_pages" style="width:210px">
    <%= render partial: "/user_page/small_ep", collection: @ep_posts, as: :post %>
  </div>
  <div class="center">
    <%= will_paginate @ep_posts, :param_name => 'ep_page', class: "ep_pagination" %>
  </div>
</div>
