<div class="row">
    <div class="col-lg-12 text-center">
        <h5 class="center"style="font-weight:bold">Likes</h5>
        <hr>
    </div>
</div>
<div>
  <%= content_tag(:div, "", id: 'like-id', data:{path_to_asset: asset_path("like.png")}) %>
  <%= content_tag(:div, "", id: 'unlike-id', data:{path_to_asset: asset_path("unlike.png")}) %>
  <% if @like_posts.empty? %>
    <p class="center" style="font-size:15px;">좋아한 글이 없습니다.</p>
  <% end %>
  <div id="likes">
    <%= render partial: '/user_page/small_post', collection: @like_posts, as: :post %>
  </dvi>

</div>
  <%= will_paginate @like_posts, :param_name => 'like_posts_page', class: "like_posts_pagination" %>
