<div class="row"><br>
  <div class="z-depth-3 col l6 offset-l1" style="width: 100%; background-color:white;">
    <h2>로그인</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <label for="user_email">이메일</label>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <label for="user_password">비밀번호</label>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <div class="col s12" style="height:40px; text-align:right;">
            <button type="submit" class="enjoy-css" style="height:100%;">
            <i class="small material-icons prefix">done</i><span style="vertical-align:super;">로그인</span></button>
        </div>
      </div>
    <% end %>
    <div class="col s12" style="height:40px; text-align:right;">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
