<div class="z-depth-3 col s12 m10 offset-m1 l8 offset-l2" style="background-color:white;">
    <h4 class="user_title">비밀번호 찾기</h4>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>



      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <label for="user_email" class="user_label">이메일</label>
        <%= f.email_field :email, autofocus: true, class: "user_label" %>
      </div>

      <div class="actions">
        <div class="col s12" style="height:40px; text-align:right; margin-top:20px;">
            <button type="submit" class="enjoy-css" style="height:100%;">
            <i class="small material-icons prefix">done</i><span style="vertical-align:super;">비밀번호 찾기</span></button>
        </div>
      </div>
    <% end %>
    <div  class="col s12" style="height:40px; text-align:right;">
      <%= render "users/shared/links" %>
    </div>
  </div>
