/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* application*/
.user_img_round {
  border: 1px solid white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
}
@font-face {font-family:NG;
            src: url("../fonts/NanumGothic_Coding.ttf")
            format("opentype");}
@font-face {font-family:NGB;
            src: url("../fonts/NanumGothic_Coding_Bold.ttf")
            format("opentype");}
  .progress {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .indeterminate {
    background-color: black !important;
  }
  body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1000px;
  }
  body:after {
      content : "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      /*background-image: url(<%=image_path("bg3.jpg")%>) ;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
      background: linear-gradient( to bottom, white, pink );
      width: 100%;
      height: 100%;
      opacity : 0.5;
      z-index: -1;
  }
  main {
    flex: 1 0 auto;
  }
  .nav {
      height: 60px;
      width: 100%;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.5);
  }
  /* input type=file css*/
.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: black;
  font-size: 15px;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
/* flat 버튼 */
 .enjoy-css {
   color: black;
   border: none;
   height: 80px;
   padding-right: 0px;
   padding-left:0px;
   background-color: Transparent;
 }
 .enjoy-css:hover {
   color: pink;
 }
  .enjoy-css:focus{
    background-color: Transparent;
  }
  .profile{
  width:50px;
  height:50px;
  }
  /* 마켓 */
  .flea_img_s{
    max-height:100px;
    width:100%;
    margin:auto;
  }

  /* 별점 */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#DDDDDD" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;utf-8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><polygon fill="#FFDF88" points="10,0 13.09,6.583 20,7.639 15,12.764 16.18,20 10,16.583 3.82,20 5,12.764 0,7.639 6.91,6.583 "/></svg>');
  background-size: contain;
}
.star-rating label {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating label:hover + i,
.star-rating input[type="radio"]:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
i {
  max-height: 100% !important;
}
.on {
  opacity: 1 !important;
}
.small_star {
  width: 125px;
  height: 25px;
}
/* scroll bar*/
.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.user_page {
  width: 100%;
  height: 80%;
}
.side-nav.fixed a {
  display: inline-block !important;
}
/* post write button */
.btn {
  background-color: pink !important;
  color: gray !important;
  opacity: 0.8 !important;
}
.dropdown-content li>span{
  background-color: pink !important;
  color: gray !important;
  opacity: 0.8 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.dropdown-content li{
  min-height: 100% !important;
}
/* post write color*/
textarea:focus {
  border-bottom: 1px solid pink !important;
  box-shadow: 0 1px 0 0 pink !important;
}
textarea:valid {
  border-bottom: 1px solid pink !important;
  box-shadow: 0 1px 0 0 pink !important;
}
 .prefix.active {
  color: pink !important;
}

/* search color*/
input:focus {
  border-bottom: 1px solid pink !important;
  box-shadow: 0 1px 0 0 pink !important;
}
input:valid {
  border-bottom: 1px solid pink !important;
  box-shadow: 0 1px 0 0 pink !important;
}
 .prefix.active {
  color: pink !important;
}
.user_input:placeholder-shown {
  border-bottom: 0px solid pink !important;
  box-shadow: 0 0px 0 0 pink !important;
}
.user_input:focus {
  border-bottom: 1px solid pink !important;
  box-shadow: 0 1px 0 0 pink !important;
}
.user_input {
  border-bottom: 0px solid pink !important;
  box-shadow: 0 0px 0 0 pink !important;
}

 .dropdown-content li>a {
   color: black !important;
 }
 .dropdown-content li>a:hover {
   color: pink !important;
   font-size:17px;
 }
.seller_nickname {
  color: gray;
  font-size: 20px;
}
.seller_nickname:hover {
  color: pink !important;
}
.nickname {
  color: gray;
  font-size: 20px;
}

.q_seller_nickname {
  color: gray;
  font-size: 17px;
}
.q_seller_nickname:hover {
  color: pink !important;
}
.q_nickname {
  color: gray;
  font-size: 17px;
}
